body {
    background-color: bisque;
    font-family: sans-serif;
}

h2 {
    color: brown;
}

.text-red {
    color: red;
}

#article1 {
    color: rgb(164, 24, 66);
    font-size: 15px;
}

.italic-bold {
    font-style: italic;
    font-weight: bold;
}

.body {
    width: 1000px;
    margin: 0 auto 0;
}

.nav {
    background-color: rgb(255, 202, 149);
}

.navigation {
    width: fit-content;
    height: 60px;
    margin: 0 auto;
}

.btn {
    background-color: rgb(255, 159, 62);
    margin: 10px 20px;
    float: left;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.left-bar {
    width: 50px;
    color: red;
    float: left;
}

.clear {
    clear: both;
}