body {
    background-color: bisque;
    font-family: sans-serif;
}

h2 {
    color: brown;
}

.text-red {
    color: red;
}

#article1 {
    color: rgb(164, 24, 66);
    font-size: 15px;
}

.italic-bold {
    font-style: italic;
    font-weight: bold;
}